# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Flask
instance/
.webassets-cache

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Data
*.json
